.table-header {
  background-color: #d32f2f;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 7px 7px 0 0;
}

.info-table {
  background-color: rgba(23, 23, 28, 0.9);
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #e0e0e0;
  margin: 5px 15px;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }

  th {
    background-color: #d32f2f;
    color: white;
    border-radius: 3px;
  }

  td {
    background-color: rgba(35, 35, 40, 0.9);
  }

  tbody tr:nth-child(even) td {
    background-color: rgba(30, 30, 35, 0.9);
  }

  tbody tr:hover td {
    background-color: rgba(50, 50, 55, 0.9);
  }
}
